<!DOCTYPE html>
<html lang="en" data-ng-app="ramanujan">
   <head>
      <meta charset="utf-8">
      <title> ¯\_(ツ)_/¯ Welcome to Ramanujan</title>
      <link rel="stylesheet" href="/web/static/css/app.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <style>
         .carousel-inner > .item > img,
         .carousel-inner > .item > a > img {
         width: 80%;
         margin: auto;
         }
      </style>
   </head>
   <body data-spy="scroll" data-target=".navbar" data-offset="50">
      <div class="jumbotron text-center" id="Intro">
          <h2>Ramanujan - Our Reporting System Under Construction</h2>
          <p>Ideas on building a full fledged System for good old reporting purposes</p>
      </div>
      <form name="logout" action="/logout" method="get" role="form">
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">{{ Ramanujan }}</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#Intro">Home</a></li>
              <li class="dropdown"><a data-target="#" class="dropdown-toggle" data-toggle="dropdown" href="#NewTable" role="button">New Report<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#NewTable">New RDBMS Source</a></li>
                <li><a href="#NewKafka">New Kafka Topic</a></li>
                <li><a href="#NewApi">New Api Topic</a></li>
              </ul></li>
              <li><a href="#Prev">Prev Reports</a></li>
              <li><a href="#Health">Systems Health</a></dli>
              <li><a href="#Wiki">Wiki</a></li>
              <li><a href="#Tuts">Tutorials</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
              <a input type='submit' value='LogOut' href="/logout">Log Out</a>
              </li>
            </ul>
         </div>
      </nav>
      </form>
      <div class="well" id="NewTable">
         <h2> Kindly provide us with details for new Table Logging</h2>
         <form name="new request form" data-ng-controller="ramanujanDBCtrl" role="form">
            <fieldset>
               <legend> New Table Details: </legend>
               <div class="form-group">
                  <label for="alias">Alias:</label>
                  <select class="form-control" id="alias" data-ng-model="table.alias" onchange="fetchTables(this.value)" required>
                    <option>crm</option>
                    <option>amb</option>
                    <option>mpdm</option>
                    <option>ncrm</option>
                  </select>
               </div>
               <div class="form-group">
                  <label for="table">table:</label>
                  <input type="table" class="form-control" id="table" placeholder="Enter table" data-ng-model="table.table" required>
               </div>
               <div class="form-group">
                  <label for="bookmark">bookmark:</label>
                  <input type="bookmark" class="form-control" id="bookmark" placeholder="Enter bookmark" data-ng-model="table.bookmark" required>
               </div>
               <div class="form-group">
                  <label for="druidMetrics">Druid Metrics</label>
                  <input type="druidMetrics" class="form-control" id="druidMetrics" placeholder="Enter the druid metrics(cols):" data-ng-model="table.druidMetrics">
               </div>
               <div class="form-group">
                  <label for="druidDims">Druid Dimensions</label>
                  <input type="druidDims" class="form-control" id="druidDims" placeholder="Enter the druid dimensions(cols):" data-ng-model="table.druidDims">
               </div>
               <div class="form-group">
                  <label for="runFrequency">Scheduling Frequency</label>
                  <select class="form-control" id="runFrequency" data-ng-model="table.runFrequency" required>
                    <option>15 MINUTES</option>
                    <option>30 MINUTES</option>
                    <option>1 HOUR</option>
                    <option>2 HOURS</option>
                    <option>12 HOURS</option>
                    <option>24 HOURS</option>
                  </select>
               </div>
               <div class="form-group">
                  <div class="row clearfix">
                    <div class="col-md-12 column">
                      <h4> Enter user defined columns . . .</h4>
                      <table class="table table-bordered table-hover">
                        <colgroup>
                          <col span="1" style="width: 50%;" />
                          <col span="1" style="width: 50%;" />
                        </colgroup>
                        <thead>
                          <tr>
                            <th class="text-center">
                               Column Name
                            </th>
                            <th class="text-center">
                               Column Type
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="col in cols">
                            <td>
                               <input class="form-control" ng-model="col.colname">
                            </td>
                            <td>
                               <input class="form-control" ng-model="col.coltype">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div>
                        <input type="button" class="btn pull-left" value="Add A Row" ng-click="add_row()" />
                        <input type="button" class="btn pull-right" class="btn btn-danger" value="Delete Row(s)" ng-click="delete_row()" />
                      </div>
                    </div>
                  </div>
                </div>
                <br><br>
                <button type="submit" class="btn btn-default" data-ng-click="sendTable()" data-ng-disabled="form.$invalid">Mirror !</button>
              </fieldset>
            </form>
      </div>
      <div class="well" id="NewKafka">
<h2> Kindly provide us with details for new Kafka Topic Logging</h2>
<form name="new kafka request form" data-ng-controller="ramanujanKafkaCtrl" role="form">
   <fieldset>
      <legend> New kafka Topic Details: </legend>
      <div class="form-group">
         <label for="cluster">kafka Cluster Type:</label>
         <input type="cluster" class="form-control" id="cluster" placeholder="Enter the kafka cluster type (staging / production)" data-ng-model="topic.cluster" required>
      </div>
      <div class="form-group">
         <label for="topic">Topic Name:</label>
         <input type="topic" class="form-control" id="topic" placeholder="Enter the kafka topic" data-ng-model="topic.topic" required>
      </div>
      <div class="form-group">
         <label for="alias">Topic Alias:</label>
         <input type="alias" class="form-control" id="alias" placeholder="Enter Alias for the topic above" data-ng-model="topic.alias" required>
      </div>
      <div class="form-group">
         <label for="groupName">Consumer Group:</label>
         <input type="groupName" class="form-control" id="groupName" placeholder="Enter group" data-ng-model="topic.groupName" required>
      </div>
      <div class="form-group">
         <label for="reset_offset_on_start">Reset Offset On Start:</label>
         <input type="reset_offset_on_start" class="form-control" id="reset_offset_on_start" placeholder="Enter reset_offset_on_start(true / false)" data-ng-model="topic.reset_offset_on_start" required>
      </div>
      <div class="form-group">
         <label for="auto_offset_reset">Auto Offset Reset:</label>
         <input type="auto_offset_reset" class="form-control" id="auto_offset_reset" placeholder="Enter Auto Offset Reset" data-ng-model="topic.auto_offset_reset" required>
      </div>
      <div class="form-group">
         <label for="bookmark">bookmark:</label>
         <input type="bookmark" class="form-control" id="bookmark" placeholder="Enter bookmark" data-ng-model="topic.bookmark" required>
      </div>
      <div class="form-group">
         <label for="bookmarkformat">Bookmark Format:</label>
         <input type="bookmarkformat" class="form-control" id="bookmarkformat" placeholder="Enter Bookmark Format ( ts or logId etc. ):" data-ng-model="topic.bookmarkformat">
      </div>
      <div class="form-group">
         <label for="primarykey">Primary Key:</label>
         <input type="primarykey" class="form-control" id="primarykey" placeholder="Enter Primary Key:" data-ng-model="topic.primaryKey" required>
      </div>
      <div class="form-group">
         <label for="partitionCol">HDFS Partition Columns:</label>
         <input type="partitionCol" class="form-control" id="partitionCol" placeholder="Enter Full Col to use as partition:" data-ng-model="topic.partitionCol">
      </div>
      <div class="form-group">
         <label for="druidMetrics">Druid Metrics</label>
         <input type="druidMetrics" class="form-control" id="druidMetrics" placeholder="Enter the druid metrics(cols):" data-ng-model="topic.druidMetrics">
      </div>
      <div class="form-group">
         <label for="druidDims">Druid Dimensions</label>
         <input type="druidDims" class="form-control" id="druidDims" placeholder="Enter the druid dimensions(cols):" data-ng-model="topic.druidDims">
      </div>
      <div class="form-group">
         <label for="treatment">user type failure treatments : / skip / report / fail / </label>
         <input type="treatment" class="form-control" id="treatment" placeholder="Enter the scheduling frequency:" data-ng-model="topic.treatment" required>
      </div>
      <div class="form-group">
         <div class="row clearfix">
            <div class="col-md-12 column">
               <h3> Enter user defined columns . . .</h3>
               <table class="table table-bordered table-hover">
                  <colgroup>
                     <col span="1" style="width: 50%;" />
                     <col span="1" style="width: 50%;" />
                  </colgroup>
                  <thead>
                     <tr>
                        <th class="text-center">
                           Column Name
                        </th>
                        <th class="text-center">
                           Column Type
                        </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="kafkaCols in kafkaCols">
                        <td>
                           <input class="form-control" ng-model="kafkaCols.kafkaColName">
                        </td>
                        <td>
                           <input class="form-control" ng-model="kafkaCols.kafkaColType">
                        </td>
                     </tr>
                  </tbody>
               </table>
               <div>
                  <input type="button" class="btn pull-left" value="Add A Row" ng-click="add_row_kafka()" />
                  <input type="button" class="btn pull-right" class="btn btn-danger" value="Delete Row(s)" ng-click="delete_row_kafka()" />
               </div>
            </div>
            </div>
                </div>
            <br><br>
            <div class="checkbox">
               <label><input type="checkbox"> Sure ?!?</label>
            </div>
            <button type="submit" class="btn btn-default" data-ng-click="sendTopic()" data-ng-disabled="form.$invalid">Process !</button>
   </fieldset>
</form>
</div>
      <div class="container-fluid" id="Prev" style="padding: 10px;">
         <h2> View a sample/previous report</h2>
         <p>As of now, only a fist full reports show up. The report shall be run along with usual repot notifications.</p>
         <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#omniture">Omniture Report</a></li>
            <li><a data-toggle="tab" href="#pay">Pay Report</a></li>
            <li><a data-toggle="tab" href="#order">Order Report</a></li>
            <li><a data-toggle="tab" href="#users">User Report</a></li>
         </ul>
         <div class="tab-content">
            <div id="omniture" class="tab-pane fade in active">
               <h3>Omniture Report</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div id="pay" class="tab-pane fade">
               <h3>Pay Report</h3>
               <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="order" class="tab-pane fade">
               <h3>Order Report</h3>
               <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
               <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
               <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
               <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
               <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
               <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
               <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
               <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
               <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
               <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
               <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div id="users" class="tab-pane fade">
               <h3>User Report</h3>
               <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
               <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
               <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
               <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
               <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
               <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
               <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
         </div>
         <hr width=100% align=left>
         <br><br>
         <form role="form" name="chooseReportForm" data-ng-controller="reportCtrl" ng-init="report=none">
            <div class="form-group">
               <h2>Enter your own Report Script. And we will run it, under the hood.</h2>
               <label for="comment">Script:</label>
               <textarea data-ng-model="script" class="form-control" rows="5" id="comment">Enter the script here.</textarea>
            </div>
            <button type="submit" class="btn btn-default" data-ng-click="sendTable()" data-ng-disabled="form.$invalid">Process !</button>
            <button type="submit" class="btn btn-default" data-ng-click="submitReport()" data-ng-disabled="form.$invalid">Submit Reports</button>
         </form>
      </div>
      <div class="container-fluid" id="Health" style="padding: 10px;">
         <h2>Systems Health</h2>
         <p>Yarn Health, Druid Health, Spark Health, Pivot Expose, Metabase Expose and DB sources Health shown below : </p>
         <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#yarn">Yarn Cluster Health</a></li>
            <li><a data-toggle="tab" href="#database">DB tables Runs Health</a></li>
         </ul>
         <div class="tab-content">
            <div id="yarn" class="tab-pane fade in active">
            <div class="container-fluid">
              <h3>Component Healths | UI Viz. </h3>
               <ul class="nav nav-pills nav-stacked">
                  <li class="active"><a href="https://en.wikipedia.org/wiki/Indianapolis" name="Spark">Spark</a></li>
                  <li><a href="https://en.wikipedia.org/wiki/Indianapolis" name="Yarn">Yarn</a></li>
                  <li><a href="https://en.wikipedia.org/wiki/Indianapolis" name="Druid">Druid</a></li>
                  <li><a href="https://en.wikipedia.org/wiki/Indianapolis" name="Pivot">Pivot</a></li>
                  <li><a href="https://en.wikipedia.org/wiki/Indianapolis" name="Metabase">Metabase</a></li>
                  <li><a href="https://en.wikipedia.org/wiki/Indianapolis" name="Azkaban">Azkaban</a></li>
               </ul>
            </div>
            </div>
            <div id="database" class="tab-pane fade">
               <h3><u>DB Health</u></h3>
               <h3><u>The dataSource wise statistics . . .</u></h3>
               <h2>{{message}}</h2>
               <pre>
                      <table class="table table-striped">
                        <thead>
                            <tr>
                              <th>Host</th>
                              <th>Port</th>
                              <th>DB Name</th>
                              <th>DB Table</th>
                              <th>Run Frequency</th>
                              <th>Total Runs</th>
                              <th># Success Runs</th>
                              <th># Failure Runs</th>
                              <th>Current State</th>
                              <th>Exceptions</th>
                              <th>Notes</th>
                            </tr>
                        </thead>
                      <tbody>
                          {% for index, row in records.iterrows() %}
                            <tr>
                              <td>{{ row["host"] }}</td>
                              <td>{{ row["port"] }}</td>
                              <td>{{ row["dbname"] }} </td>
                              <td>{{ row["dbtable"] }}</td>
                              <td>{{ row["runFrequency"] }}</td>
                              <td>{{ row["totalRuns"] }}</td>
                              <td>{{ row["successRuns"] }}</td>
                              <td>{{ row["failureRuns"] }}</td>
                              <td>{{ row["currentState"] }}</td>
                              <td>{{ row["exceptions"] }}</td>
                              <td>{{ row["notes"] }}</td>
                            </tr>
                          {% end %}
                      </tbody>
                    </table>
              </pre>
              <h2>{{mesage_kafka}}</h2>
               <pre>
                      <table class="table table-striped">
                        <thead>
                            <tr>
                              <th>Cluster</th>
                              <th>Topic</th>
                              <th>Alias</th>
                              <th>Group</th>
                              <th>Total Runs</th>
                              <th># Success Runs</th>
                              <th># Failure Runs</th>
                              <th>Current State</th>
                              <th>Exceptions</th>
                              <th>Notes</th>
                            </tr>
                        </thead>
                      <tbody>
                          {% for index, row in records_kafka.iterrows() %}
                            <tr>
                              <td>{{ row["cluster"] }}</td>
                              <td>{{ row["topic"] }}</td>
                              <td>{{ row["alias"] }} </td>
                              <td>{{ row["groupName"] }}</td>
                              <td>{{ row["currentState"] }}</td>
                              <td>{{ row["exceptions"] }}</td>
                              <td>{{ row["notes"] }}</td>
                            </tr>
                          {% end %}
                      </tbody>
                    </table>
              </pre>
            </div>
         </div>
         <hr width=100% align=left>
      </div>
      <div class="jumbotron text-center" id="Wiki">
         <br>
         <h2><u>WIKI</u></h2>
         <h2> swipe left & right. view centre.</h2>
         <br>
         <div id="wikiCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#wikiCarousel" data-slide-to="0" class="active"></li>
               <li data-target="#wikiCarousel" data-slide-to="1"></li>
               <li data-target="#wikiCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
               <div class="item active">
                  <img src="/web/static/wiki1.jpg" alt="wiki#1" width="460" height="345">
                  <div class="carousel-caption">
                     <h3>Wiki#1</h3>
                  </div>
               </div>
               <div class="item">
                  <img src="/web/static/wiki2.jpg" alt="wiki#2" width="460" height="345">
                  <div class="carousel-caption">
                     <h3>Wiki#2</h3>
                  </div>
               </div>
               <div class="item">
                  <img src="/web/static/wiki3.jpg" alt="wiki#3" width="460" height="345">
                  <div class="carousel-caption">
                     <h3>Wiki#3</h3>
                  </div>
               </div>
            </div>
            <a class="left carousel-control" href="#wikiCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#wikiCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
         </div>
      </div>
      <div class="jumbotron text-center" id="Tuts">
         <br>
         <h2><u>TUTS</u></h2>
         <h2> swipe left & right. view centre.</h2>
         <br>
         <div id="tutsCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#tutsCarousel" data-slide-to="0" class="active"></li>
               <li data-target="#tutsCarousel" data-slide-to="1"></li>
               <li data-target="#tutsCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
               <div class="item active">
                  <img src="/web/static/tuts1.jpg" alt="tuts#1" width="460" height="345">
                  <div class="carousel-caption">
                     <h3>Tuts#1</h3>
                  </div>
               </div>
               <div class="item">
                  <img src="/web/static/tuts2.jpg" alt="tuts#2" width="460" height="345">
                  <div class="carousel-caption">
                     <h3>Tuts#2</h3>
                  </div>
               </div>
               <div class="item">
                  <img src="/web/static/tuts3.jpg" alt="tuts#3" width="460" height="345">
                  <div class="carousel-caption">
                     <h3>Tuts#3</h3>
                  </div>
               </div>
            </div>
            <a class="left carousel-control" href="#tutsCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#tutsCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
         </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="/web/static/js/jquery.js"></script>
      <!--<script src="/web/static/js/bootstrap.js"></script>-->
      <script src="/web/static/js/angular.js"></script>
      <script src="/web/static/js/angular-resource.js"></script>
      <script src="/web/static/js/controllers.js"></script>
      <script src="/web/static/js/services.js"></script>
      <script src="/web/static/js/app.js"></script>
      <script scr="/web/static/js/userInputSpecTypes.js"></script>
      <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>-->
      <!--<script src="js/services.js"></script>-->
      <!--<script src="js/app.js"></script>-->
   </body>
</html>